<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="crear-periodo.component.css">
  <title>Crear Periodo</title>
</head>

<body>
  <app-header></app-header>

  <div class="container">
    <form class="formulario" (ngSubmit)="crearPeriodo()">
      <fieldset>
        <legend class="titulo_formulario">Crear periodo</legend>
        <div class="contenedor_formulario">
          <div class="mb-3">
            <label for="mesInicio">Mes Inicio:</label>
            <input type="text" id="mesInicio" name="mesinicio" required autocomplete="off"
              [(ngModel)]="nuevoPeriodo.periodo_mes_inicio" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="mesFin">Mes Fin:</label>
            <input type="text" id="mesFin" name="mesfin" [(ngModel)]="nuevoPeriodo.periodo_mes_fin" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="anioInicio">Año Inicio:</label>
            <input type="number" id="anioInicio" name="anioInicio" [(ngModel)]="nuevoPeriodo.periodo_anio_inicio" />
          </div>

          <div class="mb-3">
            <label for="anioFin">Año Fin:</label>
            <input type="number" id="anioFin" name="anioFin" [(ngModel)]="nuevoPeriodo.periodo_anio_fin" />
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="botonDesactivado">
              <i class="fa fa-check"></i> Registrar
            </button>
            <button type="button" class="btn btn-danger" routerLink="/listar-periodo"> Cancelar
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <app-footer></app-footer>
</body>

</html>
