.navbar-brand img {
    max-height: 50px;
}
.navbar-nav {
    height: 100px;
    display: flex;
    align-items: center; 
}
.navbar-nav .nav-link {
    color: #ffffff; 
    font-size: larger;
    font-size: 25px;
}

.dropdown-menu {
    background-color: #e8edfa;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
    background: linear-gradient(45deg, #3399ff, #005cbf);
    border-radius: 8px;

}

.dropdown-menu .nav-link:hover {
    color: #ffffff;
}

.dropdown-menu .nav-link {
    color: #000000;
}

