<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Asignaturas</title>
  <link rel="stylesheet" href="listar-curso.component.css">
</head>

  <app-header></app-header>
  
<body>
  <h2>Lista de Cursos</h2>
  <div class="button-container"> 
    <button class="button1" routerLink="/crearasignatura">Crear</button>
  </div>
  
  <div class="buscar-container">
    <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por usuario" (input)="buscar()" />
  </div>
  <div class="table-container">
<table class="asigg-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Paralelo</th>
      <th>Periodo</th>
      <th>Carrera</th>
      <th>Jornada</th>
      <th>Actualizar</th>
      <th>Eliminar</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let curso of cursos">
      <td>{{ curso.curso_id }}</td>
      <td>{{ curso.curso_nombre }}</td>
      <td>{{ curso.curso_paralelo }}</td>
      <td>{{ curso.modeloJornada.jornada_nombre}}</td>
      <td>{{ curso.modeloCarrera.carrera_nombre}}</td>
      <td>{{ curso.periodo.periodo_mes_inicio }} {{ curso.periodo.periodo_anio_inicio }} -
        {{ curso.periodo.periodo_mes_fin }} {{ curso.periodo.periodo_anio_fin }}</td>
   
      <td>
        <button style="border: none; background: transparent;" (click)="arirModalActualizar(curso)">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </td>
      <td>
        <button style="border: none; background: transparent;" (click)="eliminarcurso(curso.curso_id)">
          <i class="fas fa-trash-alt"></i> <!-- Ícono de eliminar -->
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

</body>
<app-footer></app-footer>

</html>