<div>
  <app-header></app-header>

  <body>
    <div class="center-container">
      <p class="txt-2">Listado de Actividades No Docentes</p>

      <div class="inputs">
        <button routerLink="/actividades-no-docente">Crear</button>
        <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por Actividad" (input)="buscar()" />
        <button style="border: none; background: transparent;">
          <i class="fas fa-search"></i> 
        </button>
      </div>

   

      <table>
        <thead>
          <tr>
            <th>Id Actividad</th>
            <th>Nombre Actividad</th>
            <th>Número de Horas</th>
            <th>Docente</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actividad of nodocente">
            <td>{{ actividad.activinodoc_id }}</td>
            <td>{{ actividad.activinodoc_nombre }}</td>
            <td>{{ actividad.activinodoc_num_horas }}</td>
            <td>
              {{
                actividad.modeloDocente.persona.per_primer_nombre +
                  " " +
                  actividad.modeloDocente.persona.per_apellido_paterno
              }}
            </td>
            <td>
              <button style="border: none; background: transparent;" (click)="abrirModalActualizar(actividad)">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td>
              <button style="border: none; background: transparent;" (click)="eliminarActNodoc(actividad.activinodoc_id)">
                <i class="fas fa-trash-alt"></i> 
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </body>

  <app-footer></app-footer>
</div>
