<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Asignaturas</title>
  <link rel="stylesheet" href="asignatura.component.css">
</head>

  <app-header></app-header>
  
<body>
  <h2>Lista de Asignaturas</h2>
  <div class="button-container">
    <button class="button1" routerLink="/crearasignatura">Crear</button>
  </div>
    <div class="buscar-container"> 
      <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por usuario" (input)="buscar()" />
    </div>
    <div class="table-container">
  <table class="asigg-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Hora Clase semanal</th>
        <th>Curso    -    Carrera</th>
        <th>Docente</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asignatura of asignaturas">
        <td>{{ asignatura.asignatura_id }}</td>
        <td>{{ asignatura.asignatura_nombre }}</td>
        <td>{{ asignatura.asignatura_horas_clase_semana }}</td>
        <td>{{ asignatura.curso.curso_nombre+' '+asignatura.curso.curso_paralelo+' / '+asignatura.curso.modeloCarrera.carrera_nombre}}</td>
        <td>{{ asignatura.modeloDocente.persona.per_primer_nombre  +' '+asignatura.modeloDocente.persona.per_apellido_paterno}}</td>
        <td>
          <button style="border: none; background: transparent;" (click)="arirModalActualizar(asignatura)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </td>
        <td>
          <button style="border: none; background: transparent;" (click)="eliminarasignatura(asignatura.asignatura_id)">
            <i class="fas fa-trash-alt"></i> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
<app-footer></app-footer>

</html>