<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="crear-asignatura.component.css">
  <title>Crear Asignatura</title>
</head>

<body>
  <app-header></app-header>
  <div class="container">
    
    <form class="formulario" (ngSubmit)="crearAsignatura()">
      <fieldset>
        <legend class="titulo_formulario">Crear Asignatura</legend>
        <div class="contenedor_formulario">
          <div class="mb-3">
            <label for="asignatura_nombre" class="form-label">Nombre:</label>
            <input type="text" [(ngModel)]="asignatura_nombre" name="asignatura_nombre" required class="form-control">
          </div>

          <div class="mb-3">
            <label for="asignatura_horas_clase_semana" class="form-label">Horas clase(semanal):</label>
            <input type="text" [(ngModel)]="asignatura_horas_clase_semana" name="asignatura_horas_clase_semana" required
              class="form-control">
          </div>


          <label for="per_id"> Curso :</label>
          <select class="form-control" id="curso_id" formControlName="curso_id" required [(ngModel)]="nombreCursoSelecionada"
            (change)="onCursoSelected($event)">
            <option *ngFor="let curso of curso1">{{ curso.curso_nombre+' '+curso.curso_paralelo+' / '+curso.modeloCarrera.carrera_nombre}} </option>
          </select>

          <label for="docente_id"> Docente :</label>
          <select class="form-control" id="docente_id" formControlName="docente_id" required [(ngModel)]="nombreDocSeleecionada"
            (change)="onDocSelected($event)">
            <option *ngFor="let docc of docente1">{{ docc.persona.per_primer_nombre +' '+docc.persona.per_apellido_paterno}} </option>
          </select>


          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Registrar
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelar()">
            <i class="fa fa-times"></i> Cancelar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <app-footer></app-footer>
</body>

</html>