<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="crear-usuario.component.css">
  <title>Crear Usuario</title>
</head>

<body>
  <app-header></app-header>
  <app-menudesp></app-menudesp>
  <div class="container">
    <form class="formulario" (ngSubmit)="crearUsu()">
      <fieldset>
        <legend class="titulo_formulario">Crear Usuario</legend>

        <div class="contenedor_formulario">
          <div class="mb-3">
            <label for="usu_usuario" class="form-label">Usuario:</label>
            <input type="text" [(ngModel)]="usu_usuario" name="usu_usuario" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="usu_contrasena" class="form-label">Contraseña:</label>
            <input type="text" [(ngModel)]="usu_contrasena" name="usu_contrasena" required class="form-control">
          </div>
          <label for="per_id"> per_id :</label>
          <select class="form-control" id="per_id" formControlName="per_id" required [(ngModel)]="cedulaSeleccionada"
            (change)="onCedulaSelected($event)">
            <option *ngFor="let persona of persona1">{{ persona.per_cedula}} </option>
          </select>

          <label for="rol_id"> rol_id :</label>
          <select class="form-control" id="rol_id" (change)="onRolSelected($event)" required>
            <option *ngFor="let role of roles">{{ role.rol_nombre }}</option>
          </select>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Registrar
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelar()">
            <i class="fa fa-times"></i> Cancelar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <app-footer></app-footer>
</body>

</html>