<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="crear-usuario.component.css">
  <title>Crear Usuario</title>
</head>

<body>
  <app-header></app-header>
  <div class="container">
    <form class="formulario" (ngSubmit)="crearUsu()">
      <fieldset>
        <legend class="titulo_formulario">Creacion de Usuario</legend>

        <div class="contenedor_formulario">
          <div class="mb-3">
            <label for="username" class="form-label">Usuario:</label>
            <input type="text" [(ngModel)]="username" name="username" required class="form-control">
          </div>
          <div class="mb-3">
            <label for="usu_contrasena" class="form-label">Contraseña:</label>
            <input type="text" [(ngModel)]="usu_contrasena" name="usu_contrasena" required class="form-control">
          </div>


          <label for="per_id"> per_id :</label>
          <select class="form-control" id="per_id" formControlName="per_id" required [(ngModel)]="cedulaSeleccionada"
            (change)="onCedulaSelected($event)">
            <option *ngFor="let persona of persona1">{{ persona.per_cedula}} </option>
          </select>
          <label for="rol_id"> rol_id :</label>
          <select class="form-control" id="rol_id" (change)="onRolSelected($event)" required>
            <option *ngFor="let role of roles">
              {{ role.rol_nombre }}
            </option>
          </select>
          <div class="botones-container">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Registrar
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelar()">
            <i class="fa fa-times"></i> Cancelar
          </button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="burbujas">
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
    </div>
  </div>
  <app-footer></app-footer>
</body>

</html>