<div class="modal-header">
    <h4 class="modal-title">Actualizar Carrera</h4>
    <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <!-- Campos del formulario -->
      <div class="form-group">
        <label for="carrera_nombre">Nombre de la Carrera:</label>
        <input type="text" class="form-control" id="carrera_nombre" formControlName="carrera_nombre" required>
        <label for="carrera_modalidad">Modalidad de la Carrera:</label>
        <input type="text" class="form-control" id="carrera_modalidad" formControlName="carrera_modalidad" required>
        
        <!-- validarMayusculas -->
        <div class="mensaje-error" *ngIf="updateForm.get('carrera_nombre')?.hasError('mayusculas')">
          Solo letras, letra inicial en mayúscula.
        </div>
      </div>
  
      <div class="d-flex-center">
        <button type="submit" class="btn btn-primary btn-actualizar">Actualizar</button>
      </div>
    </form>
  </div>
  