<!DOCTYPE html>
<html lang="en">

<app-header></app-header>
<body>
  
  <div class="contenedor-principal">
    <!-- Formulario -->
    <form class="formulario" (submit)="crearJornada()">
      <fieldset>
        <legend class="titulo_formulario">Crear Jornada</legend>
        <div class="contenedor_formulario">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Jornada:</label>
            <input type="text" [(ngModel)]="nuevaJornada.jornada_nombre" name="jornada_nombre" required #name="ngModel">


            <div class="mensajes-errores">
              <div class="alert alert-danger mt-2"
                *ngIf="name.errors?.['required'] && (name.dirty || formularioEnviado) "
                style="padding: 6px; font-size: 14px;">
                Nombre es obligatorio.
              </div>

              <div class="alert alert-danger mt-2" *ngIf="formularioEnviado && !validarMayusculas()"
                style="padding: 6px; font-size: 14px;">
                Solo letras, letra inicial en mayúscula. </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Registrar
          </button>

          <button type="button" class="btn2 btn btn-danger" (click)="cancelar()">
            <i class="fa fa-times"></i> Cancelar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  
  <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
  </div>
  
</body>
<app-footer></app-footer>

</html>