<app-header></app-header>
<app-menudesp></app-menudesp>
<div class="panel">
  <h2 class="txt-2">Carreras</h2>

  <form (submit)="crearCarrera()">
    <div>
      <label for="nombreCarrera">Nombre Carrera:</label>
      <input class="barra" type="text" id="nombreCarrera" name="nombreCarrera" required autocomplete="off"
        [(ngModel)]="nuevaCarrera.carrera_nombre" />
    </div>

    <div>
      <label class="label2" for="Modalidad">Modalidad:</label>
      <input class="barra" type="text" id="Modalidad" name="Modalidad" placeholder="Ingrese la modalidad"
        [(ngModel)]="nuevaCarrera.carrera_modalidad" />
    </div>

    <div class="botones">
      <button class="buttons" type="submit">Guardar</button>
      <button class="buttons cancel" type="button" routerLink="/listar-carrera">Cancelar</button>
    </div>
  </form>
</div>
