<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Personas</title>
  <link rel="stylesheet" href="listar-carrera.component.css">
</head>

<app-header> </app-header>


<body>
  <h2>Lista de Carreras</h2>

  <div class="button-container"> 
      <button class="button1" routerLink="/crear-carrera">
        <i class="fas fa-save"></i> Agregar 
      </button>
    </div>

    <div class="buscar-container"> 
      <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por carera" (input)="buscar()" />
   <button style="border: none; background: transparent;">
      <i class="fas fa-search"></i> 
    </button>
  </div>
  
    <div class="table-container"> 
      <table class="carrera-table">
        <thead>
        <tr class="fila">
          <th>Carrera</th>
          <th>Modalidad</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrera of carrera">
          <td>{{ carrera.carrera_nombre }}</td>
          <td>{{ carrera.carrera_modalidad }}</td>
          
          <td>
            <button style="border: none; background: transparent;" (click)="abrirModalActualizar(carrera)">
              <i class="fas fa-edit"></i> 
            </button>
          </td>
          <td>
            <button style="border: none; background: transparent;" (click)="eliminarCarrera(carrera.carrera_id)">
              <i class="fas fa-trash-alt"></i> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
  </div>
</body>
<app-footer></app-footer>

</html>