body {
  font-family: Century Gothic, Arial, Helvetica, sans-serif;
  background-color: rgb(255, 253, 253);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Estilos para el panel */
.panel {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Estilos para las etiquetas */
label {
  margin-bottom: 5px;
  color: #555;
  display: inline-block;
  text-align: right;
  margin-left: 120px;
}

/* Estilos para los botones */
button {
  display: flex;
  width: 150px;
  height: 50px;
  font-size: 16px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* Estilos para el formulario */
.formulario {
  margin: auto;
  font-family: Georgia, serif;
  font-size: large;
  margin-top: 50px;
  width: 700px;
  height: 550px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 7px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  background: linear-gradient(135deg, #dee9ff, #f0f0f0);
  padding: 20px;
}

/* Estilos para los inputs */
.barra {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 130px); /* Ajuste del ancho */
}

/* Estilos para los botones */
.buttons {
  flex: 1;
  margin: 0 5px;
}

/* Estilos para el contenedor de los botones */
.botones {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

/* burbujas */

.burbuja{
  border-radius: 50%;
  background: #c8d7ff;
  opacity: .3;
  position: absolute;
  bottom: -150;
  animation: burbujas 5s alternate infinite ;
  
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 5s;
}

.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 5s;
}

.burbuja:nth-child(3){
  width: 60px;
  height: 60px;
  left: 15%;
  animation-duration: 2.5s;
}

.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
}

.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
}

.burbuja:nth-child(6){
  width: 40px;
  height: 40px;
  left: 50%;
  animation-duration: 3.5s;
}

.burbuja:nth-child(7){
  width: 35px;
  height: 35px;
  left: 80%;
  animation-duration: 4s;
}

.burbuja:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
}

.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
}

.burbuja:nth-child(10){
  width: 80px;
  height: 80px;
  left: 89%;
  animation-duration: 3s;
}


@keyframes burbujas{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}
