<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Actividades Extras</title>
  <link rel="stylesheet" href="listar-extra-actividades.component.css">
</head>

<app-header> </app-header>

<body>
  <div class="center-container">
    <h2>Lista de Actividades</h2>

    <div class="button-container"> <!-- Contenedor de los botones -->
      <button class="button1" routerLink="/extra-actividades">
        <i class="fas fa-save"></i> Agregar <!-- Ícono de guardar -->
      </button>
    </div>

    <div class="buscar-container"> <!-- Contenedor del campo de búsqueda -->
      <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por actividad"
        (input)="buscar()" />
      <button style="border: none; background: transparent;">
        <i class="fas fa-search"></i> <!-- Ícono de buscar -->
      </button>
    </div>

    <div class="table-container"> <!-- Contenedor de la tabla -->
      <table class="actividad-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre del Proyecto de Vinculacion</th>
            <th>Numero de horas investigación</th>

            <th>Gestión Académica</th>
            <th>Horas de gestión académica(semanal)</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let extra of extras">
            <td>{{ extra.extra_id }}</td>
            <td>{{ extra.extra_nombre_proyecto_investigacion}}</td>
            <td>{{ extra.extra_horas_investigacion}}</td>
            <td>{{ extra.extra_detalle_hora_gestion_academico}}</td>
            <td>{{ extra.extra_horas_direccion_gestion_academica_semanal}}</td>
            <td>
              <button style="border: none; background: transparent;" (click)="abrirModalActualizar(extra)">
                <i class="fas fa-edit"></i> <!-- Ícono de actualizar -->
              </button>
            </td>
            <td>
              <button style="border: none; background: transparent;" (click)="eliminarExtra(extra.extra_id)">
                <i class="fas fa-trash-alt"></i> <!-- Ícono de eliminar -->
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
<app-footer></app-footer>

</html>