<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="creardocente.component.css">
    <title>Crear Docentes</title>
</head>
<app-header></app-header>
<app-menudesp></app-menudesp>
<body>
    <div class="form-container">
        <h2>Crear Nuevo Docente</h2>
        <form id="create-docente-form" [formGroup]="updateForm" (ngSubmit)="creardoce()">
            <label for=" fechaIngreso">Fecha de Ingreso:</label>
            <input type="date" id="fechaIngreso" name="fechaIngreso" formControlName="fechaIngreso" required>

            <label for="estado">Estado:</label>
            <select id="estado" name="estado" formControlName="estado" required >
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
            </select>

            <label for="per_id">per_id:</label>
            <select class="form-control" id="per_id" formControlName="per_id" required>
                <option *ngFor="let persona of personas" [value]="persona.per_id">
                    {{ persona.per_primer_nombre + ' ' + persona.per_apellido_paterno }}
                </option>
            </select>

            <label for="tipo_id">Tipo de Contrato:</label>
            <select class="form-control" id="tipo_id" formControlName="tipo_id" required>
                <option *ngFor="let tipo_contrato of contratos1" [value]="tipo_contrato.tipo_id">
                    {{ tipo_contrato.tipo_contrato }}
                </option>
            </select>

            <label for="cargo">Cargo:</label>
            <select class="form-control" id="cargo" formControlName="cargo_id" required>
                <option *ngFor="let cargo of cargos" [value]="cargo.cargo_id">
                    {{ cargo.cargo_nombre }}
                </option>
            </select>

            <label for="titulo">Título:</label>
            <select class="form-control" id="titulo" formControlName="titulo_id" required>
                <option *ngFor="let titulo of titulos" [value]="titulo.titulo_id">
                    {{ titulo.titulo_nombre }}
                </option>
            </select>

            <label for="periodo">Periodo:</label>
            <select class="form-control" id="periodo" formControlName="periodo_id" required>
                <option *ngFor="let periodo of periodos" [value]="periodo.periodo_id">
                    {{ periodo.periodo_mes_inicio + ' ' + periodo.periodo_anio_inicio + '-' + periodo.periodo_mes_fin + ' ' + periodo.periodo_anio_fin }}
                </option>
            </select>

            <label for="grado">Grado Ocupasional:</label>
            <select class="form-control" id="grado" formControlName="grado_id" required>
                <option *ngFor="let grado of grados" [value]="grado.grado_id">
                    {{ grado.grado_titulo }}
                </option>
            </select>

            <div class="button-container">


                <button type="submit" [disabled]="updateForm.invalid || botonDesactivado"class="btn btn-primary">
                    <i class="fa fa-check"></i> Registrar
                  </button>
                  <button type="button" class="btn btn-danger" (click)="cancelar()">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </form>
    </div>
</body>
<app-footer></app-footer>
</html>