<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="creardocente.component.css">
    <title>Crear Docentes</title>
</head>

<body>
    <app-header></app-header>

    <div class="container">
        <form [formGroup]="updateForm" class="formulario" (ngSubmit)="crearDocente()">
            <div class="contenedor_formulario">
                <div class="mb-3">
                    <label for="docente_fecha_ingreso">Fecha de Ingreso</label>
                    <input formControlName="docente_fecha_ingreso" type="date" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="docente_estado">Estado:</label>
                    <select class="form-control" id="docente_estado" formControlName="docente_estado" required
                        [(ngModel)]="docente_estado" (change)="onDocenteEstadoChange($event)">
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>

                <label for="per_id"> per_id :</label>
                <select class="form-control" id="per_id" formControlName="per_id" (change)="onCedulaSelected($event)"
                    required>
                    <option *ngFor="let persona of persona1">{{ persona.per_cedula }}</option>
                </select>
                <label for="tipo_id">Tipo de Contrato:</label>
                <select class="form-control" id="tipo_id" formControlName="tipo_id"
                    (change)="oncontratoSelected($event)" required>
                    <option value="" disabled selected>Seleccionar</option>
                    <option>sadasd</option>
                    <option>sadasd</option>

                    <option *ngFor="let tipo_contrato of tipocontrato1">{{ tipo_contrato.tipo_contrato }}</option>
                </select>



                <label for="cargo_id">Cargo:</label>
                <select class="form-control" id="cargo_id" formControlName="cargo_id" (change)="oncargoSelected($event)"
                    required>
                    <option value="" disabled selected>Seleccionar</option>

                    <option *ngFor="let cargo of cargo1">{{ cargo.cargo_nombre }}</option>
                </select>

                <label for="titulo_id">Título:</label>
                <select class="form-control" id="titulo_id" formControlName="titulo_id"
                    (change)="ontituloSelected($event)" required>
                    <option value="" disabled selected>Seleccionar</option>

                    <option *ngFor="let titulo of titulo1">{{ titulo.titulo_nombre }}</option>
                </select>

                <label for="periodo_id">Periodo:</label>
                <select class="form-control" id="periodo_id" formControlName="periodo_id"
                    (change)="onperiodoSelected($event)" required>
                    <option value="" disabled selected>Seleccionar</option>

                    <option *ngFor="let periodo of periodo1">{{ periodo.periodo_mes_inicio + ' ' +
                        periodo.periodo_anio_inicio + '-' + periodo.periodo_mes_fin + ' ' + periodo.periodo_anio_fin }}
                    </option>
                </select>

                <label for="grado_id">Grado Ocupasional:</label>
                <select class="form-control" id="grado_id" formControlName="grado_id" (change)="ongradoSelected($event)"
                    required>
                    <option value="" disabled selected>Seleccionar</option>

                    <option *ngFor="let grado of grado1">{{ grado.grado_titulo }}</option>
                </select>
                <div class="botones-container">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i> Registrar
                    </button>
                    <button type="button" class="btn btn-danger" (click)="cancelar()">
                        <i class="fa fa-times"></i> Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
      </div>
      
</body>
<app-footer></app-footer>

</html>