<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="docente.component.css">
    <title>Docentes</title>
</head>
<app-header></app-header>

<body>


    <h2>Docentes</h2>
    <div class="button-container"> <!-- Contenedor de los botones -->
        <button class="button1" routerLink="/creardocente">
            <i class="fas fa-save"></i> Agregar <!-- Ícono de guardar -->
        </button>
    </div>

    <div class="buscar-container"> <!-- Contenedor del campo de búsqueda -->
        <!--  <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por cedula"
            (input)="buscar()" />
        <button style="border: none; background: transparent;">
            <i class="fas fa-search"></i>  Ícono de buscar 
        </button>-->
    </div>

    <div class="table-container"> <!-- Contenedor de la tabla -->
        <table class="docente-table">
            <thead>
                <tr>
                    <th>Docente ID</th>
                    <th>Fecha de Ingreso</th>
                    <th>Estado</th>
                    <th>Nombre</th>
                    <th>Período</th>
                    <th>Tipo Contrato</th>
                    <th>Cargo</th>
                    <th>Título</th>
                    <th>Grado</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let docente of docentes">
                    <td>{{ docente.docente_id }}</td>
                    <td>{{ docente.docente_fecha_ingreso }}</td>
                    <td>{{ docente.docente_estado }}</td>
                    <td>{{ docente.persona.per_primer_nombre + ' ' + docente.persona.per_apellido_paterno }}</td>
                    <td>{{ docente.periodo.periodo_mes_inicio }} {{ docente.periodo.periodo_anio_inicio }} -
                        {{ docente.periodo.periodo_mes_fin }} {{ docente.periodo.periodo_anio_fin }}</td>
                    <td>{{ docente.tipo_contrato? docente.tipo_contrato.tipo_contrato : 'Sin contrato' }}</td>
                    <td>{{ docente.cargo.cargo_nombre }}</td>
                    <td>{{ docente.titulo.titulo_nombre }}</td>
                    <td>{{ docente.grado? docente.grado.grado_titulo : 'Sin titulo' }}</td>
                    <td>
                        <button (click)="arirModalActualizar(docente)">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button (click)="docente.docente_id !== undefined ? eliminardoce(docente.docente_id) : null">Eliminar</button>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
<app-footer></app-footer>

</html>