/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

/* Estilos para el encabezado */
header {
  background-color: #2060b3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

/* Estilos para los botones */
.button-regresar,
.button-container {
  margin-bottom: 20px;
  margin-top: 25px; /* Mueve los botones hacia abajo */
  margin-left: 200px; /* Mueve los botones hacia la derecha */
  margin-right: 0; /* Mueve los botones hacia la izquierda */
}

.button-regresar button,
.buscar-container button {
  border: none;
  background-color: #2060b3;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Espacio entre los botones */
  display: inline-block; /* Cambia el comportamiento del botón */
}

.button-container button,
.buscar-container button {
  border: none;
  background-color: #2060b3;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Espacio entre los botones */
  display: inline-block; /* Cambia el comportamiento del botón */
}


/* Estilos para el campo de búsqueda */
.buscar-container {
  text-align: center;
  margin-bottom: 20px;
}

.buscar-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.buscar-container button {
  border: none;
  background-color: #2060b3;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buscar-container button:hover {
  background-color: #14447a;
}

/* Estilos para la tabla */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para el pie de página */
footer {
  background-color: #2060b3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 5px 0;
}
