<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Distributivo</title>
  <link rel="stylesheet" href="generarpdf.component.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
  <app-header></app-header> <!-- Se incluye el encabezado -->
  
  <h2>Distributivo</h2>
  <head>
    <div class="col text-center">
      <p>
        Tecnologico del Azuay 
      </p>
      <p>Instituto Superior</p>
    </div>
  </head>
  <head></head>
  <div class="button-regresar">
    <!-- Contenedor de los botones -->
    <button class="button1" routerLink="/distributivo">
      <!-- Icono -->
      Regresar
      <!-- Texto -->
    </button>
  </div>
  <div class="btn11 button-container">
    <button class="btn btn-primary btn-lg" id="btnImprimirActa" (click)="imprimirReporte()">
      <i class="fas fa-print"></i> Imprimir
    </button>
  </div>
  
  <div class="buscar-container">
    <!-- Contenedor del campo de búsqueda -->
    <input class="buscar" type="text" [(ngModel)]="textoBusqueda" placeholder="Buscar por nombre" (input)="buscar()" />
    <button style="border: none; background: transparent">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <!-- Inicio Codigo pegado -->
  <div class="container" id="reporte" #reporte>
    <main>
      <h3>Acta de Distributivo</h3>
      <p>
        En la ciudad de Cuenca a la fecha
        <input #inputFechaRefParra type="date" class="form-head" id="inputFecha" /><br />
        <label for=""> Docente :</label>
        <select class="form-control" id="" formControlName="" required>
          <option *ngFor="let distri of distributivo">
            {{
            distri.modeloDocente.persona.per_primer_nombre +
            " " +
            distri.modeloDocente.persona.per_apellido_paterno
            }}
          </option>
        </select>
        Docente del Instituto Superior Tecnológico del Azuay<br />
        Con un atento saludo, de acuerdo a la reunion del
        <input type="date" class="form-head" id="inputFecha" /> de la sesion
        extraordinaria decima sexta, el Organo Colegiado Superior, <br />
        conocio el distributivo academico institucional. A continuación, se
        detalla su asignacion de horas docentes y de gestion para el periodo
        academico:
        <select class="form-control" id="" formControlName="" required>
          <option *ngFor="let distri of distributivo">
            {{ distri.modeloPeriodos.periodo_mes_inicio }}
            {{ distri.modeloPeriodos.periodo_anio_inicio }} -
            {{ distri.modeloPeriodos.periodo_mes_fin }}
            {{ distri.modeloPeriodos.periodo_anio_fin }}
          </option>
        </select>
      </p>
      <br />
      <section>
        <!-- Comienzo Tabla Distrubitivo -->
        <div class="table-container">
          <!-- Contenedor de la tabla -->
          <table class="distributivo-table">
            <thead>
              <tr class="fila">
                <th>Distributivo ID</th>

                <th>Docente</th>

                <th>Carrera</th>
                <th>Jornada</th>
                <th>Curso</th>
                <th>Periodo</th>
                <th>Asignatura</th>
                <th>Actividad Docente</th>
                <th>Actividad No Docente</th>
                <th>Calculo Horas total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let distri of distributivo">
                <td>{{ distri.distributivo_id }}</td>

                <td>
                  {{
                  distri.modeloDocente.persona.per_primer_nombre +
                  " " +
                  distri.modeloDocente.persona.per_apellido_paterno
                  }}
                </td>
                <td>{{ distri.modeloCarrera.carrera_nombre }}</td>
                <td>{{ distri.modeloJordana.jornada_nombre }}</td>
                <td>{{ distri.modeloCurso.curso_nombre }}</td>
                <td>
                  {{ distri.modeloPeriodos.periodo_mes_inicio }}
                  {{ distri.modeloPeriodos.periodo_anio_inicio }} -
                  {{ distri.modeloPeriodos.periodo_mes_fin }}
                  {{ distri.modeloPeriodos.periodo_anio_fin }}
                </td>

                <td>{{ distri.modeloAsignaturas.asignatura_nombre }}</td>
                <td>
                  {{
                  distri.modeloActividadesDocentes
                  .actividoc_nombre_actividad
                  }}
                </td>
                <td>
                  {{
                  distri.modeloActividadesNoDocentes.activinodoc_num_horas
                  }}
                </td>
                <td>{{ sumarHorasTotales(distri?.distributivo_id) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <div class="col text-center">
      <p>
        Agradecidos con su aporte a la Institucion, suscribimos de usted.
      </p>
      <p>Atentamente</p>

      <p>&nbsp;</p>
      <!-- Párrafo vacío que crea el espacio -->
      <p>___________</p>
      <p class="cargos">Mgtr. Miguel Enrique Yuctor A.</p>
      <p class="cargos">Rector del TecAzuay</p>
    </div>

    <footer>
      <div class="col text-center">
        <p>
          Tecnologico del Azuay 
        </p>
        <p>Instituto Superior</p>
      </div>
    </footer>
  </div>

  <app-footer></app-footer>
</body>
</html>
