body {
  font-family: Century Gothic,Arial,Helvetica,sans-serif;
  background-color: rgb(255, 253, 253);
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

button {
  display: flex; /* Establece el contenedor como flexbox */
  width: 150px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  font-size: 16px; /* Tamaño de la fuente */
  margin-right: 2px; /* Ajusta el espacio entre los botones */
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.form-container {
  margin: auto;
  font-family: Georgia, serif;
  font-size: large;
  margin-top: 50px;
  width: 700px;
  /* Ajustar el ancho */
  height: 550px;
  /* Ajustar el alto */
  border: 2px solid rgb(194, 194, 194);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow-y: auto;
  /* Agregar scroll vertical */
  position: relative;
  /* Ajusta la posición a relativa */
  z-index: 1;
  background: linear-gradient(135deg, #dee9ff, #f0f0f0);
  /* Degradado de color */
  padding: 20px;
}

h2 {
  margin-top: 50px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 120px;
}

input,
textarea {
  padding: 8px;
  width: 400px; 
  margin: 0 auto;
}


.botones-container {
  display: flex; 
  margin-top: 30px; 
}


/* burbujas */

.burbuja{
  border-radius: 50%;
  background: #c8d7ff;
  opacity: .3;
  position: absolute;
  bottom: -150;
  animation: burbujas 5s alternate infinite ;
  
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 5s;
}

.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 5s;
}

.burbuja:nth-child(3){
  width: 60px;
  height: 60px;
  left: 15%;
  animation-duration: 2.5s;
}

.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
}

.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
}

.burbuja:nth-child(6){
  width: 40px;
  height: 40px;
  left: 50%;
  animation-duration: 3.5s;
}

.burbuja:nth-child(7){
  width: 35px;
  height: 35px;
  left: 80%;
  animation-duration: 4s;
}

.burbuja:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
}

.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
}

.burbuja:nth-child(10){
  width: 80px;
  height: 80px;
  left: 89%;
  animation-duration: 3s;
}


@keyframes burbujas{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}