<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="actividades-docente.component.css">
  <title>Crear Asignatura</title>
</head>

<body>
  <app-header></app-header>
  <div class="container">
    
    <form class="formulario" (ngSubmit)="crearActividad()">
      <fieldset>
        <legend class="titulo_formulario">Crear Actividad Docente</legend>
        <div class="contenedor_formulario">

          <div class="mb-3">
            <label for="actividoc_nombre_actividad" class="form-label">Nombre:</label>
            <input type="text" [(ngModel)]="actividoc_nombre_actividad" name="actividoc_nombre_actividad" required class="form-control">
          </div>

          <div class="mb-3">
            <label for="actividoc_horas_docencia" class="form-label">Horas docencia de actividad:</label>
            <input type="text" [(ngModel)]="actividoc_horas_docencia" name="actividoc_horas_docencia" required
              class="form-control">
          </div>


          <label for="asignatura_id"> Asignatura :</label>
          <select class="form-control" id="asignatura_id" formControlName="asignatura_id" required [(ngModel)]="nombreAsignaturaSelecionada"
            (change)="onAsigSelected($event)">
            <option *ngFor="let asigg of asignatura1">{{ asigg.asignatura_nombre}} </option>
          </select>

          <label for="extra_id"> Actividades extra asignada :</label>
          <select class="form-control" id="extra_id" formControlName="extra_id" required [(ngModel)]="nombreExtraActSeleecionada"
            (change)="onExtraSelected($event)">
            <option *ngFor="let extrass of extraActvidad1">{{extrass.extra_nombre_proyecto_investigacion+' / '+extrass.extra_detalle_hora_gestion_academico}} </option>
          </select>

          <div class="botones-container">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i> Registrar
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelar()">
            <i class="fa fa-times"></i> Cancelar
          </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>          
  <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
  </div>
</body>

<app-footer></app-footer>

</html>