<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Ejemplo</title>
  <style>

    body {
      margin-top: 150px; /* Añade espacio en blanco en la parte superior */
    }
    .container {
    }
    .user-box {
    }
    .header {
    }
    .logo {
      /* Estilos del logo */
    }
    .title {
      /* Estilos del título */
    }
    .user-header {
      /* Estilos del encabezado de usuario */
    }
    .user-body {
      /* Estilos del cuerpo del usuario */
    }
    .user-icon {
      /* Estilos del ícono de usuario */
    }
    .btn {
      /* Estilos del botón */
    }
    .footer {
      /* Estilos del pie de página */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="user-box">
      <div class="header">
        <img src="ruta/al/logo.png" alt="" class="">
      </div>
      <div class="title">
      </div>
      <div class="user-header">Usuario</div>
      <div class="user-body">
        <div class="user-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5351/5351008.png" alt="Icono de usuario" width="64">
        </div>
        <a href="seleccion-actividad" class="btn">Actividades Generales</a>
      </div>
    </div>

    <div class="user-box">

      <div class="title">
      </div>
      <div class="user-header">Usuario</div>
      <div class="user-body">
        <div class="user-icon">
          <img src="https://png.pngtree.com/png-vector/20190803/ourlarge/pngtree-teacher-education-presentation-school--flat-color-icon--vecto-png-image_1648907.jpg" alt="Icono de usuario" width="64">
        </div>
        <a href="docente" class="btn">Docente</a>
      </div>
    </div>

    <div class="user-box">
      <div class="header">
        <img src="ruta/al/logo.png" alt="" class="">
      </div>
      <div class="title">
      </div>
      <div class="user-header">Usuario</div>
      <div class="user-body">
        <div class="user-icon">
          <img src="https://cdn-icons-png.flaticon.com/512/5931/5931742.png" alt="Icono de usuario" width="64">
        </div>
        <a href="distributivo" class="btn">Distributivo</a>
      </div>
    </div>
  </div>

</body>
</html>


